/*
* Theme: Miso Corporate Portfolio
* Author: Sazzad Hossain
* Author URL: http://sazzad.me
*/

/** Import **/
@import "assets/variables";
@import "assets/mixins";
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,300';


/** Basic Setup **/
body, html {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    min-height: 100vh;
}

body {
    background: $bodyColor;
    color: $textColor;
    font-family: $fontPrimary;
    font-style: $fontStyle;
    font-weight: $fontNormal;
    font-size: $fontSize;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
    @include font-smoothing(on);
    min-height: 100vh;

    @media screen and (max-width: $grid-md) {
        padding-left: 0;
        padding-top: 0.65*$navSize;
    }
}

body, input, select, textarea {
    @include bezier-transition(all, $animateFast, cubic-bezier(0.42, 0, 0.58, 1));
}

a {
    @include bezier-transition(all, $animateFast, cubic-bezier(0.42, 0, 0.58, 1));
    cursor: pointer;
    color: $textColor;
    text-decoration: none;
    font-weight: $fontBold;

    &:hover {
        color: $secondaryColor;
        border-color: $secondaryColor;
        text-decoration: none !important;
        outline: none !important;
    }

    &:active, &:focus {
        outline: none !important;
        text-decoration: none !important;
        //color: $secondaryColor;
    }
}

strong, b {
    font-weight: $fontBold;
}

em, i {
    font-style: italic;
}

p {
    font-family: $fontPrimary;
    font-size: $fontSize;
    font-weight: $fontNormal;

    a {
        padding-bottom: 2px;
        border-bottom: 1px dashed $textColorLight;
    }
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', 'Roboto Slab', 'serif';
	font-weight: 400;
	line-height: 1em;
    margin: 0 0 $padding;
	color: $headerColor;
    -webkit-font-smoothing: antialiased;

    a {
        color: inherit;
        text-decoration: none;
    }

    small {
        color: inherit;
    }

    &.add-line {
        position: relative;
        padding-bottom: 1.5rem;

        &:after {
            display: block;
            position: absolute;
            content: " ";
            bottom: .5rem;
            height: 3px;
            width: 75px;
            background: $textColor;
            @include opacity(0.75);
        }

        &.secondary-line:after {
            background: $secondaryColor;
        }

        &.primary-line:after {
            background: $primaryColor;
        }
    }
}

h5, h6 {
	font-family: $fontPrimary;
}

small {
    font-size: 85%;
}

figure {
    display: block;
    border: 1px solid $frameColor;
    padding: 0.75rem 0.75rem 0;
    text-align: center;
    margin-bottom: 2rem;

    img {
        max-width: 100%;
    }

    figcaption {
        display: block;
        padding: 0.25rem 0.75rem;
        font-size: 85%;
        font-style: italic;
        color: lighten($textColor, 10%);
    }
}

/** Class Helpers **/

.display-none {
    display: none !important;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.bg-white {
    background: white;
}

.bg-dark {
    background: $bodyColorDark;
}

.color-light {
    color: $textColorLight;
}

.btn {
    border-color: $borderColor;
}

.button {
    text-transform: uppercase;
    padding: 8px 18px;
    border: 2px solid #2da5da;
    color: #2da5da;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
    line-height: normal;
    letter-spacing: 1px;
    @include transition(all 200ms ease-in);

    i {
        display: inline-block;
        width: 25px;
        text-align: left;
        font-size: 14px;
    }

    &:hover {
        background: #2da5da;
        color: #FFF;
        @include transition(all 200ms ease-in);
    }
}

.seperator {
    position: relative;
    display: block;
    height: 1px;
    width: 143px;
    margin: 2*$padding auto $padding;
    background: -moz-linear-gradient(left,rgba(0,0,0,0) 13%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 87%);
    background: -webkit-gradient(linear,left top,right top,color-stop(13%,rgba(0,0,0,0)),color-stop(50%,rgba(0,0,0,0.3)),color-stop(87%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,rgba(0,0,0,0) 13%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 87%);
    background: -o-linear-gradient(left,rgba(0,0,0,0) 13%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 87%);
    background: -ms-linear-gradient(left,rgba(0,0,0,0) 13%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 87%);
    background: linear-gradient(to right,rgba(0,0,0,0) 13%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 87%);
}

/** Forms **/

.form-group {
    margin: .5rem 0;
    @extend %clearfix;
}

select[multiple] {
    overflow: scroll;
}

/** Navigation **/

nav {
    position: fixed !important;
    display: block;
    top: 0;
    height: $navSize;
    width: 100%;
    padding: $padding 0;
    z-index: 999;
    background-color: rgba(255,255,255,0.35);
    font-size: $fontSize;
    @include box-shadow(0 2px 2px -2px rgba(0, 0, 0, .4));
    -webkit-font-smoothing: antialiased;
    @include transition(all 0.3s ease-in-out);

    .logo {
        height: $logoSize;
    }

    &.affix {
        background-color: rgba(255,255,255,0.95);
        padding: 5px 0;
        height: $navSizeMobile;
        @include transition(all 0.3s ease-in-out);

        .logo {
            height: $logoSizeMobile;
        }
    }

    .navbar-nav {
        li {
            line-height: $navSizeMobile;

            a {
                font-family: $fontHeader;
                font-size: $fontSize;
                font-weight: $fontNormal;
                font-style: italic;
                line-height: $navSizeMobile;
                line-height: 100%;
                padding: 0 $padding;
                color: $textColor;

                &:hover {
                    color: $primaryColor;
                }
            }

            &.dropdown {
                line-height: $navSizeMobile;

                .dropdown-toggle {
                    padding: 0 $padding;
                    line-height: $navSizeMobile;
                }

                &.show > .dropdown-toggle {
                    color: $primaryColor;
                }

                .dropdown-menu {
                    padding: 0;
                    @include border-radius(0);
                    @include box-shadow(0 2px 2px -2px rgba(0, 0, 0, .1));

                    a {
                        line-height: $logoSize;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 100%;
                        left: 24px;
                        border-right: 8px solid transparent;
                        border-bottom: 8px solid rgba(0,0,0,0.1);
                        border-left: 8px solid transparent;
                    }
                }
            }
        }
    }

    .search {
        display: inline-block;
        position: relative;
        //margin-left: $padding;

        label {
            position: absolute;
            width: 30px;
            text-align: center;
            height: 30px;
            line-height: 30px;
            top: 1px;
            left: 6px;
            color: $textColor;
            cursor: pointer;
        }

        input {
            display: block;
            width: 30px;
            height: 34px;
            font-style: italic;
            font-size: $fontSize;
            padding-left: 2.5*$padding;
            border: none;
            border-bottom: 1px solid transparent;
            font-family: $fontHeader;
            font-size: $fontSize;
            font-weight: $fontNormal;
            font-style: italic;
            @include border-radius(0);
            @include opacity(0.15);
            @include transition(all .15s linear);

            &:focus {
                opacity: 1;
                width: 200px;
                outline: none;
                background: transparent;
                border-color: rgba(0,0,0,0.25);
                @include transition(all .15s linear);

                & ~ label {
                    left: 0;
                    color: $textColorLight;
                }
            }
        }
    }
}

/*** Sub-Nav ***/

.sub-nav {
    position: absolute;
    display: block;
    background-color: $secondaryColor;
    color: #fff;
    width: 100%;
    z-index: 998;

    ul {
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            position: relative;
            list-style: none;
            padding: 0;
        }

        a, span {
            display: block;
            text-transform: uppercase;
            line-height: $navSize;
            font-family: $fontHeader;
            font-size: $fontSizeSmall;
            letter-spacing: 4px;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            -webkit-font-smoothing: antialiased;
            @include transition (all 0.2s ease-in-out);

            &:hover {
                background-color: $primaryColor;
                @include transition (all 0.2s ease-in-out);
            }

            // Social Sub-Nav Colors
            &.twitter:hover {
                background-color: $twitter;
            }

            &.facebook:hover {
                background-color: $facebook;
            }

            &.google-plus:hover {
                background-color: $googleplus;
            }

            &.dribbble:hover {
                background-color: $dribbble;
            }

            &.youtube:hover {
                background-color: $youtube;
            }

            &.instagram:hover {
                background-color: $instagram;
            }
        }
    }

    &.affix {
        position: fixed;
        top: 50px;
        width: 100%;
        display: block;
        @include transition (all 0.2s ease-in-out);

        li a, li span {
            line-height: $subHeaderSize;
            @include transition (all 0.2s ease-in-out);
        }
    }
}







/** Header **/

header {
    display: block;
    height: 700px;
    margin-top: -$navSize;
    background: url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/15/153/153200/d9uqetwwkkochtkgueiv8b5rp6aj9lsodpzs1trqsrcd7otsgrzigkhfsiixh7wd-o.jpg') no-repeat fixed center center;
    background-size: cover;

    &.small {
        display: block;
        height: 200px;
        margin-top: -$navSize;
        padding-top: 100px;
        text-align: center;
        background: #fff url('../images/bg/post.jpg') fixed center top;

        h1 {
            font-size: 50px;
        }
    }
}

// Hero Unit
.hero-unit {
    position: relative;
    height: 750px;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $overlayColor;
    }

    .hero-buttons {
        z-index: 2;

        .button {
            font-size: $fontSize;
            background-color: $redAlert;
            padding: 15px 25px 15px 50px;
            color: #fff;
            position: relative;
            overflow: hidden;
            border: 1px solid rgba(0,0,0,0.1);
            @include border-radius(4px);

            i {
                position: absolute;
                top: 13px;
                left: 17px;
                font-size: 1.8*$fontSizeSmall;
                @include transition(all .2s ease-in-out);
            }

            &:first-child {
                margin-right: $padding;
            }

            &:hover {
                background-color: #C93A32;
                color: rgba(255,255,255,0.75);

                i {
                    font-size: 70px;
                    left: -25px;
                    top: -10px;
                    color: rgba(0,0,0,0.2);
                    @include transition(all .2s ease-in-out);
                }
            }

            &.blue {
                background-color: $primaryColor;

                &:hover {
                    background-color: darken($primaryColor,10%);
                }
            }
        }
    }

    .hero-content {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -7em;
        width: 100%;
        z-index: 2;

        @media screen and (max-width: $grid-md) {
            text-align: center;
            margin-top: -100px;
        }

        @media screen and (max-width: $grid-sm) {
            margin-top: -60px;
        }

        .slide-caption {
            padding-bottom: $padding;
            margin: 0 auto;

            @media screen and (max-width: $grid-sm) {
                padding-bottom: 0;
            }

            .hero-text {
                .hero-heading {
                    font-family: $fontPrimary;
                    font-size: 4.25*$fontSize;
                    font-weight: $fontLight;
                    color: $headerColor;

                    @media screen and (max-width: $grid-md) {
                        font-size: 3.25*$fontSize;
                    }

                    @media screen and (max-width: $grid-sm) {
                        font-size: 2.25*$fontSize;
                    }
                    .name {
                        border-bottom: 2px solid $headerColor;
                    }
                }

                p {
                    display: -moz-inline-stack;
                    display: inline-block;
                    vertical-align: middle;
                    *vertical-align: auto;
                    zoom: 1;
                    *display: inline;
                    font-size: 1.75*$fontSize;
                    font-weight: $fontLight;
                    letter-spacing: 1px;
                    margin-top: $padding;
                    color: $textColor;

                    @media screen and (max-width: $grid-md) {
                        font-size: 1.25*$fontSize;
                        font-weight: $fontNormal;
                    }

                    @media screen and (max-width: $grid-sm) {
                        font-size: $fontSize;
                        font-weight: $fontNormal;
                    }
                }

                //@extend-elements
                //.looper.slide .item.next, .looper.slide .item.prev
                %extend_1 {
                	position: absolute;
                	top: 0;
                	left: 0;
                	width: 100%;
                }


                .looper {
                	position: relative;
                	z-index: 1;
                	line-height: 1;
                	width: auto;
                	height: auto;
                	&.slide {
                		&.down {
                			.item {
                				animation-name: slideInDown;
                				@include transition(0.5s ease-in-out top);

                				&.next {
                					left: 0;
                					top: -100%;
                				}

                				&.prev {
                					left: 0;
                					top: 100%;
                				}

                				&.go {
                					top: 0;

                					&.active {
                						top: 100%;
                						left: 0;

                						&.prev {
                							top: -100%;
                						}
                					}
                				}

                				&.active.go {
                					animation-name: fadeOut;
                				}
                			}

                			.looper-inner {
                				height: 100%;
                			}

                			&.xfade .item {
                				@include transition(0.5s ease-in-out top, 0.5s ease-in opacity);
                			}
                		}
                		.item {
                			@include transition(0.5s ease-in-out left);

                            &.next {
                				@extend %extend_1;
                				left: 100%;
                			}

                			&.prev {
                				@extend %extend_1;
                				left: -100%;
                			}

                			&.active {
                				&.prev {
                					position: relative;
                					left: 0;
                				}

                				&.next {
                					position: relative;
                					left: 0;
                				}
                			}

                			&.go {
                				left: 0;

                				&.active {
                					left: -100%;

                					&.prev {
                						left: 100%;
                					}
                				}
                			}
                		}

                		&.up {
                			.looper-inner {
                				height: 100%;
                			}

                			.item {
                				@include transition(0.5s ease-in-out top);

                                &.next {
                					left: 0;
                					top: 100%;
                				}

                                &.prev {
                					left: 0;
                					top: -100%;
                				}

                                &.go {
                					top: 0;
                					&.active {
                						top: -100%;
                						left: 0;
                						&.prev {
                							top: 100%;
                						}
                					}
                				}
                			}

                            &.xfade .item {
                				@include transition(0.5s ease-in-out top, 0.5s ease-in opacity);
                			}
                		}

                        &.xfade .item {
                            @include transition(0.5s ease-in-out left, 0.5s ease-in opacity);
                		}

                		&.right .item {
                			&.next {
                				left: -100%;
                			}

                			&.prev {
                				left: 100%;
                			}

                			&.go {
                				left: 0;

                				&.active {
                					left: 100%;

                					&.prev {
                						left: -100%;
                					}
                				}
                			}
                		}
                	}

                	&:focus {
                		outline: 0;
                	}

                	.looper-inner {
                		overflow: hidden;
                		width: 100%;
                		height: auto;
                		position: relative;
                		z-index: 2;
                	}

                	.item {
                		display: none;
                		position: relative;
                		z-index: 3;

                		&.active {
                			display: block;
                			top: 0;
                			left: 0;
                			z-index: 4;
                		}

                		&.next {
                			display: block;
                		}

                		&.prev {
                			display: block;
                		}

                		> img {
                			display: block;
                			line-height: 1;
                		}
                	}

                	&.xfade {

                		.looper-inner {
                			height: 100%;
                		}

                		.item {
                			transition: 0.5s ease-in opacity;
                			position: absolute;
                			width: 100%;
                			opacity: 0;

                			&.go {
                				opacity: 1;
                			}

                			&.active {
                				opacity: 1;

                				&.go {
                					opacity: 0;
                				}
                			}
                		}
                	}
                }
            }
        }
    }
}

/** Containers **/

section {
    padding: 5*$padding 0;

    .title {
        text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
        font-style: italic;
        letter-spacing: 0.0125em;
    }

    .sub-title {
        font-size: 1.5*$fontSize;
        font-weight: $fontLight;
    }
}

.intro {
    padding: 10*$padding 0 0 0;

    .svg-devices {
        margin: 4*$padding 0 -5px;
    }
}

/** Service Style **/
.services {
    &.style-1 {
        background: white;
        cursor: default;

        .item {
            margin-top: $padding;
            margin-bottom: $padding;

            h4 {
                font-size: 1.35*$fontSize;
                font-style: italic;
                position: relative;
                padding-left: 3.25*$padding;
                margin-bottom: 1.25*$padding;

                i {
                    display: inline-block;
                    color: $textColorLight;
                    font-size: 2*$fontSize;
                    position: absolute;
                    left: 0;
                    top: -4px;
                }
            }

            p {
                line-height: 180%;
                color: $textColorLight;
                margin: 0;
            }

            &:hover {
                h4 {
                    text-shadow: 2px 2px 0 rgba(0,0,0,0.1);

                    i {
                        text-shadow: none;
                        color: $primaryColor;
                    }
                }

                p {
                    color: $textColor;
                }
            }
        }
    }
}

/** Portfolio **/

.portfolio {
    margin-top: 3*$padding;

    //colors
    $black_20: rgba(0, 0, 0, .2);
    $black_50: rgba(0, 0, 0, .5);
    $black_40: rgba(0, 0, 0, .4);

    .item {
    	display: block;
    	background-color: $white;
    	margin-bottom: 2*$padding;
        @include box-shadow(0 2px 2px -2px $black_20);

    	figure {
    		display: block;
    		height: 225px;
    		overflow: hidden;
    		position: relative;
            padding: 0;
            margin: 0;

    		img {
    			display: block;
    			min-height: 225px;
                min-width: 100%;
    			@include transition(all .5s ease 0s);
    		}

    		figcaption {
    			position: absolute;
    			width: 100%;
    			height: 100%;
    			top: 0;
    			left: 0;
    			background-color: $black_50;
    			display: block;
    			text-align: center;
    			@include opacity(0);
    			@include transition(all .8s);

                i {
                    position: relative;
    				display: inline-block;
    				background-color: $white;
    				color: $primaryColor;
    				width: 4*$padding;
    				height: 4*$padding;
    				line-height: 4*$padding;
    				text-align: center;
    				top: 110%;
    				margin-top: -2*$padding;
    				@include border-radius(50%);
        			@include opacity(0);
        			@include transition(all .2s);
    			}
    		}
    	}
    	.caption {
    		padding: $padding;

    		h2 {
            	text-align: center;
            	color: $textColor;
    			font-size: 1.35*$fontSize;
            	padding: 0;
    			margin: 0 0 .33*$padding;
    		}

    		p {
            	text-align: center;
            	color: $textColorLight;
            	margin: 0;
            	padding: 0;
    		}
    	}
    	&:hover {
            @include box-shadow(0 2px 2px -2px $black_40);

    		figure {
    			figcaption {
                    @include opacity(1);

    				i {
    					top: 50%;
                        @include opacity(1);
    				}
    			}
    			img {
    				@include transform(scale(1.2));
    			}
    		}
    		.caption h2 {
    			color: $primaryColor;
    		}
    	}
    }
}

/** Testimonials **/

#testimonials {
	background: url(../images/bg/tiles.gif) fixed center center;
	color: $white;

    .testimonials {
    	display: block;

    	.carousel-inner .carousel-item {
            p {
                display: block;
        		font-size: 1.25*$fontSize;
        		line-height: 30px;
        		letter-spacing: 0.03em;
        		text-align: center;
        		font-family: $fontHeader;
        		font-weight: 400;
        		font-style: italic;

            	strong {
            		font-weight: $fontBold;
            	}
            }

        	.cite {
        		display: block;
        		text-align: center;
        		font-family: $fontHeader;
        		font-weight: 400;
        		font-size: $fontSize;
        		letter-spacing: 0.05em;
        		text-transform: uppercase;
        		margin-top: $padding;

        		a {
        			color: $white;
        		}
        	}
    	}

        .carousel-indicators {
            position: relative;
            z-index: 3;
            bottom: 0;
            margin-top: 2*$padding;

            li {
                position: relative;
                max-width: 8px;
                height: 8px;
                margin: 0 .5*$padding;
                border: 1px solid $textColorLight;
                background: transparent;
                @include border-radius(50%);

                &.active {
                    max-width: 12px;
                    height: 12px;
                    top: -2px;
                    background: white;
                    border-color: white;
                }
            }
        }
    }
}

.clients {
	padding: 2.5*$padding;

	a {
		display: block;
		text-align: center;
		padding: $padding 0;
		@include border-radius(4px);

		&:hover {
			background-color: rgba(0,0,0,0.05);
		}

        img {
			max-width: 80%;
			height: inherit;
		}
	}
}

/** Footer **/

footer {
	display: block;
	background-color: $headerColor;
	padding: 3*$padding 0;
	color: $textColorLight;
	font-size: $fontSizeSmall;
	letter-spacing: 1px;
	text-transform: uppercase;

	ul {
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			list-style: none;

			a {
				display: block;
				color: $textColorLight;
				padding: .5*$padding $padding;
                
				&:hover {
					color: $primaryColor;
				}
			}
		}
	}
}
